

body{
    background-color: rgba(206, 206, 224, 0.904); 
   
}
h2 {
    padding-left: 250px;
    color: rgba(50, 50, 90, 0.904);

}
#auther {
    padding-left: 250px;
    font-size: 12px;

}
ul{
    margin-left: 200px;
    margin-right: 600px;

}
ul li{
    list-style: none;
    font-size: 13px;
    color: rgba(50, 50, 90, 0.904);
    padding:0 10px;
}

ul li:hover {
    color: rgba(206, 206, 224, 0.904);
}